<a href="https://colab.research.google.com/github/Janengh69/ipynb/blob/master/mlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier

# from google.colab import files
# uploaded = files.upload()

In [0]:
# !python '/gdrive/python/test.csv'
# test_data = pd.read_csv('/content/gdrive/My Drive/python/test.csv')

In [0]:
cols = ["duration","protocol_type","service","flag","src_bytes",
    "dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins",
    "logged_in","num_compromised","root_shell","su_attempted","num_root",
    "num_file_creations","num_shells","num_access_files","num_outbound_cmds",
    "is_host_login","is_guest_login","count","srv_count","serror_rate",
    "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate",
    "diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count",
    "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate",
    "dst_host_rerror_rate","dst_host_srv_rerror_rate","label"]

In [273]:
kdd20 = pd.read_csv("KDDTrain+.csv", header = None, names = cols, index_col=False)
kdd20.describe()

           duration  ...  dst_host_srv_rerror_rate
count  125973.00000  ...             125973.000000
mean      287.14465  ...                  0.120240
std      2604.51531  ...                  0.319459
min         0.00000  ...                  0.000000
25%         0.00000  ...                  0.000000
50%         0.00000  ...                  0.000000
75%         0.00000  ...                  0.000000
max     42908.00000  ...                  1.000000

[8 rows x 38 columns]

In [274]:

kdd20['label'].value_counts()

normal             67343
neptune            41214
satan               3633
ipsweep             3599
portsweep           2931
smurf               2646
nmap                1493
back                 956
teardrop             892
warezclient          890
pod                  201
guess_passwd          53
buffer_overflow       30
warezmaster           20
land                  18
imap                  11
rootkit               10
loadmodule             9
ftp_write              8
multihop               7
phf                    4
perl                   3
spy                    2
Name: label, dtype: int64

In [0]:
all_features = [
    "duration","src_bytes",
    "dst_bytes","land","wrong_fragment","urgent","hot","num_failed_logins",
    "logged_in","num_compromised","root_shell","su_attempted","num_root",
    "num_file_creations","num_shells","num_access_files","num_outbound_cmds",
    "is_host_login","is_guest_login","count","srv_count","serror_rate",
    "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate",
    "diff_srv_rate","srv_diff_host_rate","dst_host_count","dst_host_srv_count",
    "dst_host_same_srv_rate","dst_host_diff_srv_rate","dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate","dst_host_serror_rate","dst_host_srv_serror_rate",
    "dst_host_rerror_rate","dst_host_srv_rerror_rate"]

In [276]:
to_be_scaled = kdd20[all_features].astype(float)
print(to_be_scaled)

        duration  src_bytes  ...  dst_host_rerror_rate  dst_host_srv_rerror_rate
0            0.0      491.0  ...                  0.05                      0.00
1            0.0      146.0  ...                  0.00                      0.00
2            0.0        0.0  ...                  0.00                      0.00
3            0.0      232.0  ...                  0.00                      0.01
4            0.0      199.0  ...                  0.00                      0.00
...          ...        ...  ...                   ...                       ...
125968       0.0        0.0  ...                  0.00                      0.00
125969       8.0      105.0  ...                  0.00                      0.00
125970       0.0     2231.0  ...                  0.01                      0.00
125971       0.0        0.0  ...                  0.00                      0.00
125972       0.0      151.0  ...                  0.00                      0.00

[125973 rows x 38 columns]

In [0]:
from sklearn.neural_network  import MLPClassifier

In [0]:
labels = kdd20['label'].copy()

In [279]:
labels[labels != 'normal'] = 'intrusion'
labels.value_counts()

normal       67343
intrusion    58630
Name: label, dtype: int64

In [0]:
from sklearn import preprocessing

In [281]:
#kdd.shape
scaler = preprocessing.MinMaxScaler()
scaled = scaler.fit_transform(kdd20[all_features])
print(kdd20)

        duration protocol_type  ... dst_host_srv_rerror_rate    label
0              0           tcp  ...                     0.00   normal
1              0           udp  ...                     0.00   normal
2              0           tcp  ...                     0.00  neptune
3              0           tcp  ...                     0.01   normal
4              0           tcp  ...                     0.00   normal
...          ...           ...  ...                      ...      ...
125968         0           tcp  ...                     0.00  neptune
125969         8           udp  ...                     0.00   normal
125970         0           tcp  ...                     0.00   normal
125971         0           tcp  ...                     0.00  neptune
125972         0           tcp  ...                     0.00   normal

[125973 rows x 42 columns]

In [0]:
clf = MLPClassifier(solver='adam', alpha=1e-2,
                            hidden_layer_sizes=(40), random_state=100, learning_rate_init=0.3, activation='tanh')

In [283]:
clf.fit(scaled, labels)

MLPClassifier(activation='tanh', alpha=0.01, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=40, learning_rate='constant',
              learning_rate_init=0.3, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=100, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [284]:
# kdd_test = pd.read_csv("kdd_test.csv", header = None, names = cols)
kdd_test = pd.read_csv("Test.csv", header = None, names = cols)
print(kdd_test)

       duration protocol_type  ... dst_host_srv_rerror_rate    label
0             0           tcp  ...                     1.00  neptune
1             0           tcp  ...                     1.00  neptune
2             2           tcp  ...                     0.00   normal
3             0          icmp  ...                     0.00    saint
4             1           tcp  ...                     0.71    mscan
...         ...           ...  ...                      ...      ...
22539         0           tcp  ...                     0.00   normal
22540         0           tcp  ...                     0.00   normal
22541         0           tcp  ...                     0.07     back
22542         0           udp  ...                     0.00   normal
22543         0           tcp  ...                     1.00    mscan

[22544 rows x 42 columns]

In [285]:


kdd_test['label'].value_counts()

normal             9711
neptune            4657
guess_passwd       1231
mscan               996
warezmaster         944
apache2             737
satan               735
processtable        685
smurf               665
back                359
snmpguess           331
saint               319
mailbomb            293
snmpgetattack       178
portsweep           157
ipsweep             141
httptunnel          133
nmap                 73
pod                  41
buffer_overflow      20
multihop             18
named                17
ps                   15
sendmail             14
xterm                13
rootkit              13
teardrop             12
xlock                 9
land                  7
xsnoop                4
ftp_write             3
phf                   2
loadmodule            2
worm                  2
udpstorm              2
sqlattack             2
perl                  2
imap                  1
Name: label, dtype: int64

In [0]:
kdd_test[all_features] = kdd_test[all_features].astype(float)

In [287]:

kdd_test['label'][kdd_test['label']!= 'normal'] = 'intrusion'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [288]:
kdd_test['label'].value_counts()

intrusion    12833
normal        9711
Name: label, dtype: int64

In [0]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split

In [290]:
#kdd_test[all_features].apply(lambda x: MinMaxScaler().fit_transform(x))
scaler =  preprocessing.MinMaxScaler()
scaler.fit_transform(kdd_test[all_features])

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [3.46530365e-05, 2.06651271e-04, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 8.68116792e-04, 6.17715522e-03, ...,
        0.00000000e+00, 7.00000000e-02, 7.00000000e-02],
       [0.00000000e+00, 6.68516782e-07, 3.12052585e-05, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 4.40000000e-01, 1.00000000e+00]])

In [0]:
features_train, features_test, labels_train, labels_test = train_test_split(
    kdd_test[all_features], kdd_test['label'], test_size = 0.1, random_state = 23)

In [292]:
pred = clf.predict(features_test)
print(pred)

['normal' 'normal' 'normal' ... 'intrusion' 'intrusion' 'normal']

In [293]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(pred, labels_test)
accuracy

0.7831485587583149